<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ManiaCDN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="components/fuelux/dist/css/fuelux.min.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body class="fuelux">
    <div class="jumbotron">
        <div class="container">
            <h1>ManiaCDN</h1>
            <p>The ManiaPlanet CDN, for the community, by the community.</p>
            <p><a class="btn btn-primary btn-lg">Get involved</a></p>
        </div>
    </div>
    <div class="container">
        <div class="row">


            <div class="col-md-3 col-md-push-9 sidebar" role="complementary">
                <nav class="nav-sidebar hidden-print hidden-xs hidden-sm" data-spy="affix" data-offset-top="300" data-offset-bottom="0">
                    <ul class="nav-sidebar-list nav nav-stacked fixed">
                        <li class="active">
                            <a href="#cdn_home">Overview</a>
                        </li>
                        <li>
                            <a href="#cdn_status">Status</a>
                        </li>
                        <li>
                            <a href="#cdn_mirrors">Mirrors</a>
                        </li>
                        <li>
                            <a href="#cdn_about">About</a>
                        </li>
                    </ul>
                </nav>
            </div>


            <div class="col-md-9 col-md-pull-3" role="main">
                <section id="cdn_home" class="group">
                    <h1>Overview</h1>
                    <p>
                        The ManiaCDN is a set of mirrors hosted by the community in order to provide a stable cluster of servers. The files are static game contents, such as common signpacks, images on servers (e.g. uaseco) or music (non-copyright!).
                    </p>

                    <h3>Content</h3>
                    <p>
                        Contents of the CDN are managed by validated authors. They can update their files and it will be available within 12 hours (but mostly 6 hours) on the whole network. Copyrighted content is strictly forbidden!
                    </p>
                    <p>
                        You can apply as a content provider by clicking the Distribute my Content button. You can also read more information about the process of checking and rules.
                    </p>
                    <a href="#" class="btn btn-primary btn-sm">Distribute my Content</a>

                    <h3>Management</h3>
                    <p>
                        Servers are automaticly being updated with the newest files distributed over the network.
                        We also check the servers , if they are still updating and will directly suspend it, if it's providing old content.
                    </p>
                    <p>
                        New servers are always welcome! Please click on the button Donate my Server to see how you can donate to the CDN.
                    </p>
                    <a href="#" class="btn btn-success btn-sm">Donate my Server</a>
                </section>

                <section id="cdn_status" class="group">
                    <h1>Status</h1>
                    <p>The actual status of the ManiaCDN network:</p>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                </section>

            </div>
        </div>
    </div>

    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="components/moment/min/moment.min.js"></script>
    <script src="components/fuelux/dist/js/fuelux.min.js"></script>
</body>
</html>
