
.nav-sidebar {
    padding-left: 15px;
}

.nav-sidebar.affix {
    top:0;
    margin-top: 20px;
}

.nav-sidebar-list {
    margin-top:0;
    margin-bottom:0;
    list-style: none;

}

.nav-sidebar-list > li {
    list-style: none;

}

.nav-sidebar-list > li > a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}

.nav-sidebar-list > li > a:hover {
    padding-left: 19px;
    color: #0f5f9f;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #0f5f9f;
}

.nav-sidebar-list .nav > li > a:hover {
    color: #0f5f9f;
}

.nav-sidebar-list.nav > .active > a, .nav-sidebar-list.nav .nav > .active > a {
    font-weight: 700;
    color: #0f5f9f;
    background-color: transparent;
}
.nav-sidebar-list.nav > .active > a {
    border-left: 2px solid #0f5f9f;
    padding-left: 18px;
}
.nav-sidebar-list.nav .nav > .active > a {
    padding-left: 30px;
}


/* nested */
.nav-sidebar-list.nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* inactive nested */
.nav-sidebar-list.nav ul.nav {
    display: none;
}
/* active */
.nav-sidebar-list.nav>.active>ul.nav {
    display: block;
}




.server-status {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 5px 15px;
}

.server-status.bg-warning {
    background-color: #f0ad4e;
}
.server-status.bg-danger {
    background-color: #d9534f;
}
.server-status.bg-success {
    background-color: #5cb85c;
    color: #fff;
}

section.group {
    margin-bottom: 50px;
}

form.paypal {
    display: inline-block
}
li.paypal-entry {
    padding-top: 30px;
}