
.nav-sidebar {
    padding-left: 15px;
}

.nav-sidebar.affix {
    top:0;
    margin-top: 20px;
}

.nav-sidebar-list {
    margin-top:0;
    margin-bottom:0;
    list-style: none;

}

.nav-sidebar-list > li {
    list-style: none;

}

.nav-sidebar-list > li > a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}

.nav-sidebar-list > li > a:hover {
    padding-left: 19px;
    color: #0f5f9f;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #0f5f9f;
}

.nav-sidebar-list > li.active > a {
    padding-left: 18px;
    font-weight: 700;
    color: #0f5f9f;
    background-color: transparent;
    border-left: 2px solid #0f5f9f;
}




.server-status {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 5px 15px;
}

.server-status.bg-warning {
    background-color: #f0ad4e;
}
.server-status.bg-danger {
    background-color: #d9534f;
}
.server-status.bg-success {
    background-color: #5cb85c;
    color: #fff;
}

form.paypal {
    display: inline-block
}
